body {
    margin: 0;
    font-family: Vazirmatn;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 36px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    position: relative;
}

nav ul li a:hover {
    color: gray;
}

nav ul li a.active:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
}


/* Hero Section */
main {
    display: flex;
    gap: 80px;
}

/* Right container */
.right-container {
    width: 45%;
}

.right-container h1 {
    font-size: 56px;
    margin: 0;
    line-height: 115%;
}

.subhead {
    font-size: 18px;
}

.btns-container {
    display: flex;
    gap: 26px;
    align-items: center;
    margin-top: 36px;
}


.primary-button {
    background-color: #F2F0DF;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 19px;
}

.primary-button:hover {
    background-color: #D8D7CA;
}

.secondary-button {
    color: black;
}

.secondary-button svg {
    width: 18px;
}

.news-container {
    display: flex;
    gap: 45px;
    border: 1px solid black;
    padding: 36px 45px;
    margin: 45px 0;
    border-radius: 19px;
    position: relative;
}

.news-container:after {
    position: absolute;
    content: "";
    background: url("./assets/images/confetti.svg");
    width: 114px;
    height: 107px;
    top: -20px;
    left: -20px;

}

.details {
    font-size: 14px;
}

.employees-count {
    font-size: 33px;
    margin: 0;
    font-weight: 100;
    
}


/* Left container */
.left-container {
    width: 55%;
}